{{!--
  Previous (lower-ADD same-family) tricks list. Auto-derived.
--}}
{{#if content.previousTricks.length}}
<section id="previous-tricks" class="content-section">
  <div class="section-heading">
    <h2>Previous Tricks</h2>
    <p class="section-intro">Lower-ADD variations in the same family.</p>
  </div>
  <ul class="next-tricks-list">
    {{#each content.previousTricks}}
    <li>
      <a href="{{detailHref}}">{{canonicalName}}</a>
      <span class="next-tricks-adds">{{adds}} ADD</span>
      <a class="trick-hashtag" href="{{detailHref}}">{{hashtag}}</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
